{% extends 'base.html' %}
{% load static %}
{% block styles %}
<style>
  .btn .text {
    max-width: 0;
    opacity: 0;
    transition: max-width 0.3s ease, opacity 0.3s ease, margin-right 0.3s ease;
    white-space: nowrap;
  }
  .btn:hover .text {
    max-width: 200px;
    opacity: 1;
    margin-right: 10px;
  }
  .btn svg {
    width: 24px;
    height: 24px;
  }
</style>
{% endblock %}
{% block content %}
<section class="feature-tabs top-padding" id="services">
  <section class="badge-group w-full">
    <div
      href=""
      class="badge-group--container align--center undefined"
    >
      <div class="badge-group--message">Our Services</div>
      <div class="badge-group--icon">
        <svg
          viewBox="0 0 36 36"
          class="w-4"
          astro-icon="twemoji:waving-hand"
        >
          <path
            fill="#EF9645"
            d="M4.861 9.147c.94-.657 2.357-.531 3.201.166l-.968-1.407c-.779-1.111-.5-2.313.612-3.093 1.112-.777 4.263 1.312 4.263 1.312-.786-1.122-.639-2.544.483-3.331a2.483 2.483 0 0 1 3.456.611l10.42 14.72L25 31l-11.083-4.042L4.25 12.625a2.495 2.495 0 0 1 .611-3.478z"
          />
          <path
            fill="#FFDC5D"
            d="M2.695 17.336s-1.132-1.65.519-2.781c1.649-1.131 2.78.518 2.78.518l5.251 7.658c.181-.302.379-.6.6-.894L4.557 11.21s-1.131-1.649.519-2.78c1.649-1.131 2.78.518 2.78.518l6.855 9.997c.255-.208.516-.417.785-.622L7.549 6.732s-1.131-1.649.519-2.78c1.649-1.131 2.78.518 2.78.518l7.947 11.589c.292-.179.581-.334.871-.498L12.238 4.729s-1.131-1.649.518-2.78c1.649-1.131 2.78.518 2.78.518l7.854 11.454 1.194 1.742c-4.948 3.394-5.419 9.779-2.592 13.902.565.825 1.39.26 1.39.26-3.393-4.949-2.357-10.51 2.592-13.903L24.515 8.62s-.545-1.924 1.378-2.47c1.924-.545 2.47 1.379 2.47 1.379l1.685 5.004c.668 1.984 1.379 3.961 2.32 5.831 2.657 5.28 1.07 11.842-3.94 15.279-5.465 3.747-12.936 2.354-16.684-3.11L2.695 17.336z"
          />
          <g fill="#5DADEC">
            <path
              d="M12 32.042C8 32.042 3.958 28 3.958 24c0-.553-.405-1-.958-1s-1.042.447-1.042 1C1.958 30 6 34.042 12 34.042c.553 0 1-.489 1-1.042s-.447-.958-1-.958z"
            />
            <path
              d="M7 34c-3 0-5-2-5-5a1 1 0 1 0-2 0c0 4 3 7 7 7a1 1 0 1 0 0-2zM24 2a1 1 0 0 0 0 2c4 0 8 3.589 8 8a1 1 0 0 0 2 0c0-5.514-4-10-10-10z"
            />
            <path
              d="M29 .042c-.552 0-1 .406-1 .958s.448 1.042 1 1.042c3 0 4.958 2.225 4.958 4.958 0 .552.489 1 1.042 1s.958-.448.958-1C35.958 3.163 33 .042 29 .042z"
            />
          </g>
        </svg>
      </div>
    </div>
  </section>
  <section class="page-title--content max-w-3xl text-center mx-auto">
    <h1
      class="h2 font-semibold text-3xl lg:text-5xl text-center mx-auto"
    >
    Ignite Your Digital Presence With Our Services
    </h1>
  </section>
  <div
    class="content text-xl max-w-3xl text-black/60 text-center align--center"
  >
    <p>
      At Digicraft, we offer comprehensive digital solutions including <span class="text-secondary-700">web development, digital marketing, social media management, and graphic design.</span>
      Our expert team tailors these services to elevate your online presence, captivate your audience, and drive measurable business growth for startups and established enterprises alike.
    </p>
  </div>
  <section class="undefined">
    <div
      class="card-group--container grid scroll-m-24 gap-8 grid-cols-1 max-w-4xl mx-auto mt-24 md:grid-cols-2"
    >
      <div
        href=""
        target="_self"
        class="card text-black/60 block aspect-square relative transition-all duration-300 bg-neutral-50 -mt-1 mb-1 -ml-1 card-clip col-span-1 text-primary-900"
      >
        <div
          class="card--body h-100 w-100 w-full bg-white-600/20 p-12"
        >
          <div class="card--image undefined">
            <a href="{% url 'details' %}">
              <img
              alt="Graphic design."
              class="object-cover undefined"
              width="672"
              height="452"
              src="{% static 'images/Graphic-Design-1.jpg' %}"
              loading="lazy"
              decoding="async"
            />
            </a>
          </div>
          <div
            class="card--header flex flex-row w-auto items-center justify-between"
          >
            <h2
              class="font-medium text-primary-900 mb-0 text-3xl leading-9 tracking-tighter !text-black !text-2xl !font-bold"
            >
              Graphic Design
            </h2>
          </div>
          <p>
            A visually appealing brand identity is crucial for making
            a lasting impression. Our graphic designers can create
            <span class="text-secondary-700">stunning logos, branding materials, and other visual
            assets </span>that align with your brand's personality and
            messaging.
          </p>
          <div class="btn-group--container align--left">
            <a role="button" class="btn btn--secondary" href="{% url 'details' %}">
              <span class="text">Read more</span>
              <svg viewBox="0 0 24 24" class="w-6">
                <path
                  fill="currentColor"
                  d="M4 11v2h12l-5.5 5.5 1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5 16 11H4z"
                />
              </svg>
          </a>
          </div>
        </div>
      </div>
      <div
        href=""
        target="_self"
        class="card text-black/60 block aspect-square relative transition-all duration-300 bg-neutral-50 -mt-1 mb-1 -ml-1 card-clip col-span-1 text-primary-900"
      >
        <div
          class="card--body h-100 w-100 w-full bg-white-600/20 p-12"
        >
          <div class="card--image undefined">
            <img
              alt="Social media management."
              class="object-cover undefined"
              width="672"
              height="452"
              src="{% static 'images/management.png' %}"
              loading="lazy"
              decoding="async"
            />
          </div>
          <div
            class="card--header flex flex-row w-auto items-center justify-between"
          >
            <h2
              class="font-medium text-primary-900 mb-0 text-3xl leading-9 tracking-tighter !text-black !text-2xl !font-bold"
            >
              Social Media Management
            </h2>
          </div>
          <p>
            Social media platforms offer a powerful way to <span class="text-secondary-700">connect
            with your customers and build brand awareness.</span> Our social
            media management services include <span class="text-secondary-700">content creation,
            community engagement, and analytics</span> to help you maximize
            your social media presence.
          </p>
          <div class="btn-group--container align--left">
            <a role="button" class="btn btn--secondary" href="{% url 'details' %}">
              <span class="text">Read more</span>
              <svg viewBox="0 0 24 24" class="w-6">
                <path
                  fill="currentColor"
                  d="M4 11v2h12l-5.5 5.5 1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5 16 11H4z"
                />
              </svg>
          </a>
          </div>
        </div>
      </div>
      <div
        href=""
        target="_self"
        class="card text-black/60 block aspect-square relative transition-all duration-300 bg-neutral-50 -mt-1 mb-1 -ml-1 card-clip col-span-1 text-primary-900"
      >
        <div
          class="card--body h-100 w-100 w-full bg-white-600/20 p-12"
        >
          <div class="card--image undefined">
            <img
              alt="Digital marketing image."
              class="object-cover undefined"
              width="672"
              height="452"
              src="{% static 'images/digitalmarketing.jpeg' %}"
              loading="lazy"
              decoding="async"
            />
          </div>
          <div
            class="card--header flex flex-row w-auto items-center justify-between"
          >
            <h2
              class="font-medium text-primary-900 mb-0 text-3xl leading-9 tracking-tighter !text-black !text-2xl !font-bold"
            >
              Digital Marketing
            </h2>
          </div>
          <p>
            In today's competitive digital landscape, effective
            marketing is essential. Our digital marketing strategies
            combine <span class="text-secondary-700">data-driven insights with creative execution</span> to
            help you reach your target audience and achieve your
            business goals. We offer services such as <span class="text-secondary-700">search engine
            optimization (SEO), pay-per-click (PPC) advertising,
            content marketing, and email marketing.</span>
          </p>
          <div class="btn-group--container align--left">
            <a href="{% url 'details' %}" class="btn btn--secondary" role="button">
                <span class="text">Read more</span>
                <svg viewBox="0 0 24 24" class="w-6">
                  <path
                    fill="currentColor"
                    d="M4 11v2h12l-5.5 5.5 1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5 16 11H4z"
                  />
                </svg>
            </a>
          </div>
        </div>
      </div>
      <div
        href=""
        target="_self"
        class="card text-black/60 block aspect-square relative transition-all duration-300 bg-neutral-50 -mt-1 mb-1 -ml-1 card-clip col-span-1 text-primary-900"
      >
        <div
          class="card--body h-100 w-100 w-full bg-white-600/20 p-12"
        >
          <div class="card--image undefined">
            <img
              alt="Web Development."
              class="object-cover undefined"
              width="672"
              height="452"
              src="{% static 'images/web-devel-important.jpg' %}"
              loading="lazy"
              decoding="async"
            />
          </div>
          <div
            class="card--header flex flex-row w-auto items-center justify-between"
          >
            <h2
              class="font-medium text-primary-900 mb-0 text-3xl leading-9 tracking-tighter !text-black !text-2xl !font-bold"
            >
            Web Development
            </h2>
          </div>
          <p>
            Our team of skilled developers specializes in
            <span class="text-secondary-700"
              >creating stunning, responsive websites that are not only
              visually appealing but also optimized for performance and user
              experience.</span
            >
            From custom website design to e-commerce solutions, we have the
            expertise to bring your vision to life.
          </p>
          <div class="btn-group--container align--left">
            <a role="button" class="btn btn--secondary" href="{% url 'details' %}">
                <span class="text">Read more</span>
                <svg viewBox="0 0 24 24" class="w-6">
                  <path
                    fill="currentColor"
                    d="M4 11v2h12l-5.5 5.5 1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5 16 11H4z"
                  />
                </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
{% endblock %}